.imgfondo{
    background-image: url(/proyect2/img/whitw3.jpg);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.user{
    Color: rgb(118, 30, 145);
    font-size: 25px;
    display: flex;
    margin-top: 10%;
    justify-content: center;
}
.contra{
    font-size: 25px;Color: rgb(118, 30, 145);  
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btnproyecto2{
    width: 330px;
    height: 30px;
    border-radius: 30px;
    margin-left: 530px;
    margin-top: 20px;
}
.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: rgb(86, 31, 97);
    font-size: medium;
    margin-left: 900px;
}
.ingresarboton .ingresarbtn{
    margin-top: 20px;
    border-radius: 30px;
    width: 150px;
    height: 30px;
    color: rgb(8, 7, 7);
    margin-left: 595px;

    border-radius: 6px;
    Color: rgb(118, 30, 145);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}
.prfcontra{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin-top: 20px;
    justify-content: center;}
.btnclick{
    margin-left: 20px;
}

