@import url();


body{
    background-image: url(/proyect2/img/whitw3.jpg);
}
#navegacion .btnregis{
    width: 120px;
    height: 40px;
    margin-left: 30px;
    background-color: transparent;
    border: 1px;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    font-size: medium;
    Color: rgb(118, 30, 145);
    font-weight: 500;
    transition: .5s;
    
    }
    #navegacion .btnregis:hover{
        background-color: rgb(117, 111, 111);
        Color: rgb(118, 30, 145);}    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
    color: rgb(51, 2, 66);
}
#register_Container{
    display: flex;
    justify-content: center;
    margin-top:40px;
}
.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 39px;
    text-align: center;
     font-size: 40px;
}
.BTNCONTRASEÑA{
    width: 300px;
    height: 25px;
    background-color: rgb(227, 235, 235);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300; 
}
.BTNIMAIL{
    width: 300px;
    height: 25px;
    background-color: rgb(227, 235, 235);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300; 
}
.BTNNOMBRE{
    width: 300px;
    height: 25px;
    background-color: rgb(227, 235, 235);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300; 
}
.REGISTRO1{

    width: 200px;
    height: 25px;
    background-color: rgb(227, 235, 235);
    font-size: medium;
    margin-left: 100px;
}
.btnregistro{
    margin-top: 30px;
    width:400px;
    height: 25px;
    background-color:rgb(51, 2, 66);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300; 
}
